.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active {
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  ) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  font-family: Goudy Old Style !important;
}

.nav-link {
  color: #1f1f1f !important;
  font-size: 1.1rem;
}

.nav-link:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  ) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

header {
  box-shadow: 1px 1px 8px grey;
}

.title {
  font-size: 6vw;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Franklin Gothic Medium;
}

p {
  font-size: 4vw;
  font-family: sans-serif;
  color: #5f5757;
}

i:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.icon-con {
  font-size: 15px;
  margin-left: 550%;
}

@media (max-width: 600px) {
  i {
    font-size: 10px;
  }
}

.btn {
  position: relative;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  color: black;
  border-radius: 10px;
  transition: 1.5s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
  border-radius: 10px;
}

.btn:hover {
  background-color: transparent;
  color: white;
  transition: 1s;
}

.btn:hover::before {
  opacity: 1;
}

.card-text {
  font-size: 0.7rem;
  color: #f0f0f0;
}

.custome-img {
  width: 10rem;
  margin: 20px auto;
  transition: 1s;
}

.btnn {
  background: white;
  color: #1f1f1f;
  border-radius: 10px;
}

.btnn:hover {
  background-color: white !important;
  color: #1f1f1f !important;
}

.card {
  background-color: rgb(57, 102, 238);
  width: 15rem;
}

.card:hover {
  box-shadow: 1px 1px 5px black;
}

.card:hover .custome-img {
  transform: scale(1.2);
  transition: 1s;
}

.small-preview {
  width: 10rem;
  border: 3px solid black;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.preview {
  width: 30rem;
}

.about-text {
  font-size: 0.7rem;
}

.about-text-con {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 992px) {
  .small-preview {
    width: 5rem;
  }

  .small-preview-con {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .card {
    width: 10rem;
  }
  .custome-img {
    width: 5rem;
  }

  .about-text {
    width: 100%;
  }
}

.about-text-con {
  width: 100vw !important;
}

.about-text {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: 25px auto;
}

.about-text p {
  font-size: 1.7vw;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(17, 185, 198, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.desc {
  font-size: 1rem;
}

.bi-truck,
.bi-reply,
.bi-headphones {
  font-size: 4rem;
  color: orange;
}

ul li p {
  cursor: pointer;
  color: #f0f0f0;
  font-size: 1rem;
}
ul {
  list-style-type: none;
  margin-left: -25px;
}

.bi-telephone,
.bi-house,
.bi-envelope {
  color: orange;
}

h4 {
  font-size: 1.8rem;
  color: bisque;
}

footer {
  background-color: #635e5e;
}
li {
  cursor: pointer;
  color: #f0f0f0;
  font-size: 1rem;
  margin-top: 5px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 600px) {
  li {
    font-size: 0.7rem;
  }

  ul li p {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 1rem;
  }
}

.bi-arrow-up-circle {
  font-size: 3rem;
  color: orange;
}

.bi-arrow-up-circle:hover {
  color: orange;
}
